In [186]:
import pandas as pd
import datetime
import requests

In [104]:
independent_schools = pd.read_csv(
    'https://raw.githubusercontent.com/drkane/charity-lookups/master/independent-schools-ew.csv',
    dtype='str'
)
independent_schools = independent_schools.charity_number.dropna().unique().tolist()

In [123]:
universities = pd.read_csv(
    'https://raw.githubusercontent.com/drkane/charity-lookups/master/university-charity-number.csv'
)
universities = universities.OrgID.apply(lambda x: x.replace("GB-CHC-", "").replace("GB-SC-", "").replace("GB-NIC-", "NI")).dropna().unique().tolist()
oxbridge = pd.read_csv('https://github.com/drkane/charity-lookups/raw/master/oxbridge-charity-numbers.csv', dtype=str)
universities += oxbridge["Charity Number"].dropna().unique().tolist()

In [65]:
def financial_year_from_date(d, cutoff=3):
    if d.month <= cutoff:
        years = [str(d.year-1), str(d.year)]
    else:
        years = [str(d.year), str(d.year+1)]
    if years[0][0:2] != years[1][0:2]:
        return "-".join(years)
    return f"{years[0]}-{years[1][2:]}"

In [2]:
sql_con = 'postgres://postgres:postgres@localhost/charity'

In [162]:
area = {
    "pcon": "E14000770",
    "oslaua": None
}

In [176]:
df = pd.read_sql('''
    select cm.*, e.aims, s.scale, p.lat, p.long
    from charity_main cm
        inner join geo_postcodes p
            on CONCAT(TRIM(LEFT(postcode, LENGTH(postcode)-3)), ' ',RIGHT(postcode, 3)) = p.pcds
        left outer join ccew_extra e
            on cm.reg_number = e.regno
        left outer join charity_scale s
            on cm.reg_number = s.reg_number
    where (p.pcon = %(pcon)s
        or p.oslaua = %(oslaua)s)
        and COALESCE(dual_registered, false) = false
''', sql_con, params=area, index_col='reg_number')

In [164]:
df.loc[:, "independent_school_or_uni"] = df.index.isin(independent_schools) | df.index.isin(universities)
df.loc[:, "local"] = df.scale.isin(["Regional", "Local"])

In [170]:
fin = pd.read_sql('''
select * from charity_financial
where reg_number in ('{}')
'''.format("', '".join(df.index.to_list())), sql_con)
fin.loc[:, "financial_year"] = fin.fye.apply(financial_year_from_date)
fin.sample(10)

     reg_number         fye  income  spending financial_year
779     1102302  2013-03-31  577220    509244        2012-13
2095     285450  2007-12-31     600       550        2007-08
2510    1075890  2008-03-31  401742    386976        2007-08
2574     261796  2018-03-31   46000    140000        2017-18
66       237243  2007-12-31  116109    112571        2007-08
65       237243  2006-12-31   93392     13017        2006-07
3391    1125590  2011-03-31   23083     23403        2010-11
2743    1089255  2010-09-30     750       750        2010-11
1354     312107  2011-03-31      31         0        2010-11
1127     801085  2006-03-31   28662     33280        2005-06

In [165]:
configs = {
    "all": df.name.apply(lambda c: True),
    "exclude_sch_uni": df.independent_school_or_uni.ne(True),
    "exclude_national": df.local.eq(True),
    "exclude_sch_uni_and_national": df.independent_school_or_uni.ne(True) & df.local.eq(True),
}

In [175]:
for c, criteria in configs.items():
    df_ = df[criteria]
    data = dict(
        areacode=area['pcon'],
        config=c,
        charities=len(df_[df["active"]]),
        income=df_[df["active"]]["income"].sum(),
        top=df_[df["active"]].sort_values("income", ascending=False).head(5)[
            ["name", "income", "aims", "scale"]
        ].to_dict('index'),
    )
    
    fyear = fin[fin.reg_number.isin(df_.index)].groupby("financial_year").agg({
        "income": "sum",
        "spending": "sum",
        "reg_number": "nunique",
    })
    in_years = {}
    for i in fyear.index:
        years = i.split("-")
        if len(years[1])==2:
            years[1] = years[0][0:2] + years[1]
        dates = [
            datetime.date(int(years[0]), 4, 1),
            datetime.date(int(years[1]), 3, 31),
        ]
        in_year = df_[(df_.date_registered <= dates[1]) & ((df_.date_removed > dates[1]) | df_.date_removed.isnull())]
        in_years[i] = len(in_year)
    fyear.loc[:, "registered"] = pd.Series(in_years)
    fyear.loc[:, "pc_of_registered"] = (fyear.reg_number / fyear.registered)
    fyear.loc[:, "to_use"] = fyear.pc_of_registered.gt(0.8)
    data["financial"] = fyear[fyear.to_use][["income", "spending", "registered"]].to_dict('index')
    
    data

{'areacode': 'E14000770',
 'config': 'all',
 'charities': 338,
 'income': 189192845.0,
 'top': {'313757': {'name': 'VOLUNTARY SERVICE OVERSEAS',
   'income': 73545000.0,
   'aims': "VSO IS THE WORLD'S LEADING INDEPENDENT INTERNATIONAL DEVELOPMENT AGENCY WORKING FOR CHANGE THROUGH VOLUNTEERS.  VSO BRINGS PEOPLE TOGETHER TO SHARE SKILLS, CREATIVITY AND LEARNING TO BUILD A FAIRER WORLD. VSO HAS PROGRAMMES IN OVER TWENTY DEVELOPING COUNTRIES FOCUSING ON DELIVERING SUSTAINABLE CHANGE IN THREE THEMATIC AREAS: EDUCATION, HEALTH AND SECURE LIVELIHOODS.",
   'scale': 'Overseas'},
  '1041923': {'name': 'YMCA ST PAULS GROUP',
   'income': 18013766.0,
   'aims': 'THE PROVISION OF SERVICES TO VULNERABLE MEMBERS OF THE LOCAL COMMUNITY, WITH A FOCUS ON YOUNG PEOPLE.',
   'scale': 'Regional'},
  '1078461': {'name': 'KINGSTON GRAMMAR SCHOOL',
   'income': 16411000.0,
   'aims': 'The advancement of education generally and in particular through the provision and conduct of schools in or near the Royal Borough of Kingston upon Thames.\nThe provision of education in Kingston upon Thames for boys and girls in its school Kingston Grammar School. \nTo administer bursaries, grants and awards in support of the education of pupils at Kingston Grammar School.',
   'scale': 'Regional'},
  '277324': {'name': 'SHREWSBURY HOUSE SCHOOL TRUST LIMITED',
   'income': 9493013.0,
   'aims': 'The main object of the charity, as set out in its Articles, is to promote and provide for the advancement of education and in connection therewith to conduct, carry on, acquire and develop any education institution or education institutions for the education of students or puplis of either sex or both sexes.',
   'scale': 'Regional'},
  '225485': {'name': 'THE CHARITY OF THE ORDER OF THE MARIST SISTERS PROVINCE OF ENGLAND',
   'income': 7634303.0,
   'aims': 'The charity supports the religious and other charitable works undertaken by the Order of the Marist Sisters, Province of England',
   'scale': 'National and overseas'}},
 'financial': {'2004-05': {'income': 87940297,
   'spending': 81059725,
   'registered': 209},
  '2005-06': {'income': 109923253, 'spending': 97173051, 'registered': 220},
  '2006-07': {'income': 102557792, 'spending': 102502658, 'registered': 226},
  '2007-08': {'income': 108725854, 'spending': 107668182, 'registered': 230},
  '2008-09': {'income': 118244848, 'spending': 118255849, 'registered': 245},
  '2009-10': {'income': 131118253, 'spending': 123273609, 'registered': 261},
  '2010-11': {'income': 134293132, 'spending': 130408353, 'registered': 272},
  '2011-12': {'income': 138380007, 'spending': 136133666, 'registered': 290},
  '2012-13': {'income': 142409593, 'spending': 143335634, 'registered': 304},
  '2013-14': {'income': 159107874, 'spending': 153838993, 'registered': 314},
  '2014-15': {'income': 175071079, 'spending': 162974120, 'registered': 327},
  '2015-16': {'income': 181413246, 'spending': 170544733, 'registered': 336},
  '2016-17': {'income': 220224545, 'spending': 175476418, 'registered': 339},
  '2017-18': {'income': 189008284, 'spending': 180821939, 'registered': 325}}}

c:\users\drkan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

c:\users\drkan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys
c:\users\drkan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

{'areacode': 'E14000770',
 'config': 'exclude_sch_uni',
 'charities': 335,
 'income': 157841257.0,
 'top': {'313757': {'name': 'VOLUNTARY SERVICE OVERSEAS',
   'income': 73545000.0,
   'aims': "VSO IS THE WORLD'S LEADING INDEPENDENT INTERNATIONAL DEVELOPMENT AGENCY WORKING FOR CHANGE THROUGH VOLUNTEERS.  VSO BRINGS PEOPLE TOGETHER TO SHARE SKILLS, CREATIVITY AND LEARNING TO BUILD A FAIRER WORLD. VSO HAS PROGRAMMES IN OVER TWENTY DEVELOPING COUNTRIES FOCUSING ON DELIVERING SUSTAINABLE CHANGE IN THREE THEMATIC AREAS: EDUCATION, HEALTH AND SECURE LIVELIHOODS.",
   'scale': 'Overseas'},
  '1041923': {'name': 'YMCA ST PAULS GROUP',
   'income': 18013766.0,
   'aims': 'THE PROVISION OF SERVICES TO VULNERABLE MEMBERS OF THE LOCAL COMMUNITY, WITH A FOCUS ON YOUNG PEOPLE.',
   'scale': 'Regional'},
  '225485': {'name': 'THE CHARITY OF THE ORDER OF THE MARIST SISTERS PROVINCE OF ENGLAND',
   'income': 7634303.0,
   'aims': 'The charity supports the religious and other charitable works undertaken by the Order of the Marist Sisters, Province of England',
   'scale': 'National and overseas'},
  '1058593': {'name': 'WEST LONDON YMCA',
   'income': 6470404.0,
   'aims': "West London YMCA's mission is developing opportunities to transform young lives.  The charity aims to show Christian faith in action in its local communities.  West London YMCA works through supported housing, training and development, youth work and children's activites, open to all and prioritizing youth with fewer opportunities.",
   'scale': 'Regional'},
  '1167428': {'name': 'THE FIRCROFT TRUST',
   'income': 5800306.0,
   'aims': 'The Fircroft Trust supports adults with mental health problems and learning disabilities.  The charity runs the Fircroft Centre in Surbiton and Firs Court residential and supported living home in Hook, Chessington, Surrey.',
   'scale': 'Local'}},
 'financial': {'2004-05': {'income': 75600223,
   'spending': 68825382,
   'registered': 206},
  '2005-06': {'income': 95573821, 'spending': 84040151, 'registered': 217},
  '2006-07': {'income': 86986015, 'spending': 87278134, 'registered': 223},
  '2007-08': {'income': 94019044, 'spending': 93606812, 'registered': 227},
  '2008-09': {'income': 101820878, 'spending': 102906182, 'registered': 242},
  '2009-10': {'income': 113319289, 'spending': 106743369, 'registered': 258},
  '2010-11': {'income': 115893144, 'spending': 112613070, 'registered': 269},
  '2011-12': {'income': 119170371, 'spending': 117389168, 'registered': 287},
  '2012-13': {'income': 121314101, 'spending': 122842812, 'registered': 301},
  '2013-14': {'income': 136991845, 'spending': 133013136, 'registered': 311},
  '2014-15': {'income': 151588393, 'spending': 141180260, 'registered': 324},
  '2015-16': {'income': 156941253, 'spending': 147724671, 'registered': 333},
  '2016-17': {'income': 166790383, 'spending': 150626108, 'registered': 336},
  '2017-18': {'income': 159509702, 'spending': 154566425, 'registered': 322}}}

{'areacode': 'E14000770',
 'config': 'exclude_national',
 'charities': 216,
 'income': 83797322.0,
 'top': {'1041923': {'name': 'YMCA ST PAULS GROUP',
   'income': 18013766.0,
   'aims': 'THE PROVISION OF SERVICES TO VULNERABLE MEMBERS OF THE LOCAL COMMUNITY, WITH A FOCUS ON YOUNG PEOPLE.',
   'scale': 'Regional'},
  '1078461': {'name': 'KINGSTON GRAMMAR SCHOOL',
   'income': 16411000.0,
   'aims': 'The advancement of education generally and in particular through the provision and conduct of schools in or near the Royal Borough of Kingston upon Thames.\nThe provision of education in Kingston upon Thames for boys and girls in its school Kingston Grammar School. \nTo administer bursaries, grants and awards in support of the education of pupils at Kingston Grammar School.',
   'scale': 'Regional'},
  '277324': {'name': 'SHREWSBURY HOUSE SCHOOL TRUST LIMITED',
   'income': 9493013.0,
   'aims': 'The main object of the charity, as set out in its Articles, is to promote and provide for the advancement of education and in connection therewith to conduct, carry on, acquire and develop any education institution or education institutions for the education of students or puplis of either sex or both sexes.',
   'scale': 'Regional'},
  '1058593': {'name': 'WEST LONDON YMCA',
   'income': 6470404.0,
   'aims': "West London YMCA's mission is developing opportunities to transform young lives.  The charity aims to show Christian faith in action in its local communities.  West London YMCA works through supported housing, training and development, youth work and children's activites, open to all and prioritizing youth with fewer opportunities.",
   'scale': 'Regional'},
  '1167428': {'name': 'THE FIRCROFT TRUST',
   'income': 5800306.0,
   'aims': 'The Fircroft Trust supports adults with mental health problems and learning disabilities.  The charity runs the Fircroft Centre in Surbiton and Firs Court residential and supported living home in Hook, Chessington, Surrey.',
   'scale': 'Local'}},
 'financial': {'2004-05': {'income': 36514470,
   'spending': 34290736,
   'registered': 155},
  '2006-07': {'income': 39200443, 'spending': 38359453, 'registered': 162},
  '2007-08': {'income': 42714707, 'spending': 41141052, 'registered': 166},
  '2008-09': {'income': 51128564, 'spending': 49770740, 'registered': 178},
  '2009-10': {'income': 53566463, 'spending': 51643992, 'registered': 188},
  '2010-11': {'income': 53222897, 'spending': 50970059, 'registered': 194},
  '2011-12': {'income': 55169552, 'spending': 53009248, 'registered': 205},
  '2012-13': {'income': 60162334, 'spending': 58755545, 'registered': 212},
  '2013-14': {'income': 65584069, 'spending': 62429799, 'registered': 217},
  '2014-15': {'income': 69418621, 'spending': 65553717, 'registered': 224},
  '2015-16': {'income': 71627115, 'spending': 67455009, 'registered': 228},
  '2016-17': {'income': 74794686, 'spending': 71146360, 'registered': 231},
  '2017-18': {'income': 86231557, 'spending': 78087420, 'registered': 214}}}

{'areacode': 'E14000770',
 'config': 'exclude_sch_uni_and_national',
 'charities': 214,
 'income': 57893309.0,
 'top': {'1041923': {'name': 'YMCA ST PAULS GROUP',
   'income': 18013766.0,
   'aims': 'THE PROVISION OF SERVICES TO VULNERABLE MEMBERS OF THE LOCAL COMMUNITY, WITH A FOCUS ON YOUNG PEOPLE.',
   'scale': 'Regional'},
  '1058593': {'name': 'WEST LONDON YMCA',
   'income': 6470404.0,
   'aims': "West London YMCA's mission is developing opportunities to transform young lives.  The charity aims to show Christian faith in action in its local communities.  West London YMCA works through supported housing, training and development, youth work and children's activites, open to all and prioritizing youth with fewer opportunities.",
   'scale': 'Regional'},
  '1167428': {'name': 'THE FIRCROFT TRUST',
   'income': 5800306.0,
   'aims': 'The Fircroft Trust supports adults with mental health problems and learning disabilities.  The charity runs the Fircroft Centre in Surbiton and Firs Court residential and supported living home in Hook, Chessington, Surrey.',
   'scale': 'Local'},
  '1000182': {'name': 'KINGSTON THEATRE TRUST',
   'income': 3380792.0,
   'aims': 'Presenting a programme of plays and other activities in the Rose Theatre, Kingston and beyond, which advance the education of the public in all aspects of dramatic art.',
   'scale': 'Regional'},
  '299988': {'name': 'AGE CONCERN KINGSTON UPON THAMES',
   'income': 2421790.0,
   'aims': 'Practical support to enable older people to live safely and independently in their own homes. Day services and community centres; specialist information, advice and advocacy; Community Team; Community Connectors (social prescribing) service; Befriending & social engagement; Handyperson service; Help@Home service; Dementia services; Community Furniture.',
   'scale': 'Regional'}},
 'financial': {'2004-05': {'income': 27983545,
   'spending': 25962888,
   'registered': 153},
  '2006-07': {'income': 28111020, 'spending': 27826432, 'registered': 160},
  '2007-08': {'income': 30694088, 'spending': 29528322, 'registered': 164},
  '2008-09': {'income': 37957454, 'spending': 36891002, 'registered': 176},
  '2009-10': {'income': 38863506, 'spending': 37811150, 'registered': 186},
  '2010-11': {'income': 37894328, 'spending': 36595341, 'registered': 192},
  '2011-12': {'income': 39248440, 'spending': 37744544, 'registered': 203},
  '2012-13': {'income': 42450938, 'spending': 41977461, 'registered': 210},
  '2013-14': {'income': 47079645, 'spending': 45466394, 'registered': 215},
  '2014-15': {'income': 49710264, 'spending': 47694512, 'registered': 222},
  '2015-16': {'income': 50949592, 'spending': 48605428, 'registered': 226},
  '2016-17': {'income': 52841375, 'spending': 50475918, 'registered': 229},
  '2017-18': {'income': 61515700, 'spending': 56649130, 'registered': 212}}}

In [173]:
fin[fin.reg_number.isin(df_.index)]

     reg_number         fye  income  spending financial_year
0       1057865  2011-07-31    9156     10778        2011-12
1        209241  2004-12-31    3922      3243        2004-05
2        209241  2005-12-31    3764      3304        2005-06
3        209241  2006-12-31    4338      3497        2006-07
4        209241  2007-12-31    4309      3981        2007-08
5        209241  2008-12-31    5007      6123        2008-09
6        209241  2009-12-31    4316      6590        2009-10
7        209241  2018-12-31    4618      3318        2018-19
8        200396  2008-11-06    3292      1190        2008-09
17       209741  2004-03-31       0         0        2003-04
18       209741  2005-03-31       0         0        2004-05
19       209741  2006-03-31       0         0        2005-06
20       209741  2007-03-31       0         0        2006-07
21       209741  2008-03-31       0         0        2007-08
22       209741  2009-03-31       0         0        2008-09
23       209741  2010-03-31       0         0        2009-10
24       209741  2011-03-31       0         0        2010-11
25       209741  2012-03-31       0         0        2011-12
26       209741  2013-03-31       0         0        2012-13
27       209741  2014-03-31       0         0        2013-14
28      1152720  2014-05-31   31410     29501        2014-15
29      1152720  2015-05-31   40349     39356        2015-16
30      1152720  2016-05-31   33106     33365        2016-17
31      1152720  2017-05-31   41708     37003        2017-18
32      1152720  2018-05-31   27704     31076        2018-19
33       200396  2004-11-06    4085      3361        2004-05
34       200396  2005-11-06    1549       500        2005-06
35       200396  2006-11-06    2049       972        2006-07
36       200396  2007-11-06    2577       860        2007-08
37       200396  2009-11-06    3677      1484        2009-10
...         ...         ...     ...       ...            ...
3763    1155097  2014-12-31   39760     17603        2014-15
3764    1155097  2015-12-31   53324     23544        2015-16
3765    1155097  2016-12-31   46244     37368        2016-17
3766    1155097  2017-12-31   25770     30116        2017-18
3767    1155097  2018-12-31   30576     45985        2018-19
3768    1156824  2015-03-31       0         0        2014-15
3769    1156824  2016-03-31   61837     52826        2015-16
3770    1156824  2017-03-31   69689     62325        2016-17
3771    1156824  2018-03-31   77381     70522        2017-18
3777    1157559  2015-04-05   30127      4443        2015-16
3778    1157559  2016-04-05   22977      5951        2016-17
3779    1157559  2017-04-05   20710      5557        2017-18
3780    1157900  2015-09-30    4760      2526        2015-16
3781    1157900  2016-09-30    2479      3287        2016-17
3782    1157900  2017-09-30    3315      4036        2017-18
3783    1157900  2018-09-30    2176      2969        2018-19
3795    1160195  2016-06-30  171203    102909        2016-17
3796    1160195  2017-06-30  138530    116125        2017-18
3797    1160195  2018-06-30  233806    234670        2018-19
3806    1163071  2018-12-31  122582     96503        2018-19
3807    1166113  2017-08-31   21226     14434        2017-18
3808    1166113  2018-08-31   10850      9172        2018-19
3814    1167618  2018-12-31   71990     59256        2018-19
3817    1168686  2017-06-01   13871     11309        2017-18
3818    1168686  2018-06-01   19411     18535        2018-19
3819    1170322  2018-12-31   76252     99174        2018-19
3822    1171759  2018-04-30   97557     91961        2018-19
3823    1172541  2018-04-05    4130       755        2018-19
3827    1176621  2018-08-31  224765    181735        2018-19
3828    1177256  2018-12-31  400820    240953        2018-19

[2656 rows x 5 columns]

In [181]:
df.loc[df["active"], ["name", "lat", "long"]].reset_index().to_dict('records')

[{'reg_number': '1142035',
  'name': 'KING ATHELSTAN PRIMARY SCHOOL PARENT CARER SCHOOL ASSOCIATION',
  'lat': 51.412821,
  'long': -0.294304},
 {'reg_number': '1130950',
  'name': 'BETHEL MISSIONARY CHURCH UK',
  'lat': 51.367012,
  'long': -0.289958},
 {'reg_number': '1029508',
  'name': "BUCKLAND WOMEN'S CLUB",
  'lat': 51.368562,
  'long': -0.301327},
 {'reg_number': '1178151',
  'name': 'REFUAID',
  'lat': 51.396102,
  'long': -0.285568},
 {'reg_number': '303125',
  'name': "KINGSTON BOYS' CLUB",
  'lat': 51.410964,
  'long': -0.301411},
 {'reg_number': '803042',
  'name': 'UNIVERSITY OF CAPE TOWN TRUST',
  'lat': 51.393728,
  'long': -0.304098},
 {'reg_number': '1040958',
  'name': "IST TOLWORTH (ST. MATTHEW'S) SCOUT GROUP",
  'lat': 51.376197,
  'long': -0.291412},
 {'reg_number': '1134802',
  'name': "THE PAROCHIAL CHURCH COUNCIL OF THE ECCLESIASTICAL PARISH OF  ST JAMES' MALDEN",
  'lat': 51.395146,
  'long': -0.257903},
 {'reg_number': '1026216',
  'name': 'FRIENDS OF WOODFIELD SCHOOL',
  'lat': 51.384259,
  'long': -0.277574},
 {'reg_number': '1147039',
  'name': 'MANNA MISSION OF EUROPE LTD',
  'lat': 51.398671,
  'long': -0.257956},
 {'reg_number': '1048454',
  'name': 'MARITIME VOLUNTEER SERVICE',
  'lat': 51.356551,
  'long': -0.301465},
 {'reg_number': '312006',
  'name': 'THE TULK FUND FOR SCHOOL SPORTS FACILITIES',
  'lat': 51.404903,
  'long': -0.305144},
 {'reg_number': '1148448',
  'name': 'V4U UK LTD',
  'lat': 51.397486,
  'long': -0.271414},
 {'reg_number': '1125708',
  'name': 'TIFFINIAN ASSOCIATION LIMITED',
  'lat': 51.41177,
  'long': -0.295623},
 {'reg_number': '802456',
  'name': 'THE FIRCROFT TRUST',
  'lat': 51.382183,
  'long': -0.303562},
 {'reg_number': '1152720',
  'name': 'LONDON ONE NATION CHURCH',
  'lat': 51.405206,
  'long': -0.277823},
 {'reg_number': '1157900',
  'name': 'FISHABILITY UK',
  'lat': 51.361879,
  'long': -0.306151},
 {'reg_number': '1157559',
  'name': 'AL-MADINA ISLAMIC & CULTURAL CENTRE SURBITON',
  'lat': 51.37586,
  'long': -0.289241},
 {'reg_number': '1179883',
  'name': 'MARIST SISTERS GENERALATE CIO',
  'lat': 51.395452,
  'long': -0.259186},
 {'reg_number': '1184758',
  'name': 'RICHARD CHALLONER SCHOOL PARENT TEACHER ASSOCIATION',
  'lat': 51.385276,
  'long': -0.26488},
 {'reg_number': '312997',
  'name': 'TIFFIN SCHOOL FOUNDATION',
  'lat': 51.41177,
  'long': -0.295623},
 {'reg_number': '272691',
  'name': 'MALDEN EMERGENCY FIRST AID SOCIETY',
  'lat': 51.400217,
  'long': -0.252463},
 {'reg_number': '1165522',
  'name': 'OXYGEN',
  'lat': 51.411229,
  'long': -0.290567},
 {'reg_number': '1108900',
  'name': 'MUSLIM WOMEN SOCIETY FOR THE FUTURE',
  'lat': 51.402699,
  'long': -0.274279},
 {'reg_number': '1003243',
  'name': 'THE ALCAZAR TRUST',
  'lat': 51.394604,
  'long': -0.282734},
 {'reg_number': '1105955',
  'name': 'LABRADOR RETRIEVER RESCUE SOUTHERN ENGLAND',
  'lat': 51.390216,
  'long': -0.266887},
 {'reg_number': '1108135',
  'name': 'THE HANBEET KOREAN PRESBYTERIAN CHURCH',
  'lat': 51.410605,
  'long': -0.292805},
 {'reg_number': '312094',
  'name': 'THE HENRIETTA PARKER TRUST',
  'lat': 51.404903,
  'long': -0.305144},
 {'reg_number': '290758',
  'name': 'FRIENDS OF GUIDING IN MALDEN AND COOMBE',
  'lat': 51.396611,
  'long': -0.286569},
 {'reg_number': '1107066',
  'name': 'NATURAL HEALTH AWARENESS ASSOCIATION (NHAA)',
  'lat': 51.381142,
  'long': -0.279071},
 {'reg_number': '1020890',
  'name': 'BAPTIST EXPRESSION OF MARRIAGE ENCOUNTER',
  'lat': 51.383519,
  'long': -0.260975},
 {'reg_number': '1155097',
  'name': 'THE REDEEMED CHRISTIAN CHURCH OF GOD, RIVERS OF WATER',
  'lat': 51.377175,
  'long': -0.297454},
 {'reg_number': '1127609',
  'name': 'SURBITON HILL METHODIST CHURCH',
  'lat': 51.391855,
  'long': -0.286632},
 {'reg_number': '1089714',
  'name': "ST PAUL'S PRIMARY SCHOOL (HOOK) PARENT STAFF ASSOCIATION",
  'lat': 51.369929,
  'long': -0.303785},
 {'reg_number': '1103700',
  'name': "COOMBE BOYS' PARENT FRIENDS ASSOCIATION",
  'lat': 51.398642,
  'long': -0.266281},
 {'reg_number': '1107759',
  'name': 'C15 SURFERS',
  'lat': 51.401788,
  'long': -0.257665},
 {'reg_number': '1184900',
  'name': 'THE ROBERT ALLEN LIFE PROMOTION AND HEALTHY HEARTS TRUST (RALPHH)',
  'lat': 51.395304,
  'long': -0.288803},
 {'reg_number': '271993',
  'name': 'THE GERALD BENTALL CHARITABLE TRUST',
  'lat': 51.38489,
  'long': -0.255217},
 {'reg_number': '1176563',
  'name': 'CONNECT: NORTH KOREA',
  'lat': 51.399541,
  'long': -0.255939},
 {'reg_number': '1147376',
  'name': 'NEW GENERATION INTERNATIONAL',
  'lat': 51.381501,
  'long': -0.28152},
 {'reg_number': '1150819',
  'name': 'KOREAN CHRISTIAN FELLOWSHIP',
  'lat': 51.388708,
  'long': -0.266441},
 {'reg_number': '289765',
  'name': 'CHESSINGTON AND HOOK VOLUNTARY CARE SCHEME',
  'lat': 51.367921,
  'long': -0.306058},
 {'reg_number': '202502',
  'name': 'KINGSTON-UPON-THAMES UNITED CHARITIES',
  'lat': 51.411019,
  'long': -0.299044},
 {'reg_number': '1178453',
  'name': 'SVENSKA INGENIÖRSS-LLSKAPET I STORBRITANNIEN',
  'lat': 51.38489,
  'long': -0.255217},
 {'reg_number': '1163436',
  'name': 'INTERDOCEO',
  'lat': 51.412769,
  'long': -0.289503},
 {'reg_number': '1132505',
  'name': 'HOOK EVANGELICAL CHURCH',
  'lat': 51.374296,
  'long': -0.301038},
 {'reg_number': '1144268',
  'name': 'CAMBRIDGE ROAD ESTATES COMMUNITY GROUP ( CREST)',
  'lat': 51.409305,
  'long': -0.289416},
 {'reg_number': '1032515',
  'name': 'CHESSINGTON SCOUT GROUP',
  'lat': 51.383489,
  'long': -0.295653},
 {'reg_number': '1167428',
  'name': 'THE FIRCROFT TRUST',
  'lat': 51.382183,
  'long': -0.303562},
 {'reg_number': '1185240',
  'name': 'THE TIFFIN SCHOOL FOUNDATION',
  'lat': 51.41177,
  'long': -0.295623},
 {'reg_number': '1028539',
  'name': 'ROTARY CLUB OF NEW MALDEN TRUST FUND',
  'lat': 51.391495,
  'long': -0.265818},
 {'reg_number': '1076900',
  'name': 'ALEC DICKSON TRUST',
  'lat': 51.390027,
  'long': -0.297552},
 {'reg_number': '1153312',
  'name': 'CHRIST GLORIFICATION CHRISTIAN CENTRE',
  'lat': 51.38352,
  'long': -0.243572},
 {'reg_number': '1096271',
  'name': 'SAVE THE WORLD CLUB',
  'lat': 51.403968,
  'long': -0.253174},
 {'reg_number': '1162300',
  'name': 'THE MUSE AT 269',
  'lat': 51.354073,
  'long': -0.303744},
 {'reg_number': '1171167',
  'name': 'SURBITON YOUTH MARCHING BAND',
  'lat': 51.371651,
  'long': -0.302199},
 {'reg_number': '1131880',
  'name': 'KINGSTON UNITED REFORMED CHURCH CHARITY',
  'lat': 51.409206,
  'long': -0.304877},
 {'reg_number': '292199',
  'name': 'THE BAND AID CHARITABLE TRUST',
  'lat': 51.412769,
  'long': -0.289503},
 {'reg_number': '1177256',
  'name': 'DOXA DEO COMMUNITY CHURCH',
  'lat': 51.381501,
  'long': -0.28152},
 {'reg_number': '1057865',
  'name': 'SAENGSU KOREAN CHURCH',
  'lat': 51.392055,
  'long': -0.253278},
 {'reg_number': '285450',
  'name': "THE LORD JESUS CHRIST'S AMBASSADOR'S TRUST",
  'lat': 51.357712,
  'long': -0.297213},
 {'reg_number': '802807',
  'name': 'KINGSTON COLLEGE OF FURTHER EDUCATION CHARITABLE TRUST',
  'lat': 51.406938,
  'long': -0.305378},
 {'reg_number': '1154013',
  'name': 'WEIR ARCHER ACADEMY',
  'lat': 51.401673,
  'long': -0.272426},
 {'reg_number': '1175963',
  'name': 'FRIENDS OF DORCHESTER SCHOOL',
  'lat': 51.387448,
  'long': -0.241682},
 {'reg_number': '1051515',
  'name': 'SOUTH LONDON RAYNET',
  'lat': 51.356282,
  'long': -0.304045},
 {'reg_number': '327661',
  'name': 'LIVING STREAM MINISTRY',
  'lat': 51.391025,
  'long': -0.287051},
 {'reg_number': '1165638',
  'name': "THE FATHER'S HOUSE CHURCH",
  'lat': 51.371651,
  'long': -0.302199},
 {'reg_number': '1170322',
  'name': 'KINGSTON SOCIETY FOR CHILDREN AND ADULTS WITH LEARNING DISABILITIES',
  'lat': 51.404595,
  'long': -0.277866},
 {'reg_number': '1184483',
  'name': 'HAVENSTONE HOUSING',
  'lat': 51.394133,
  'long': -0.306599},
 {'reg_number': '1026721',
  'name': 'EPSOM CHAMBER CHOIR',
  'lat': 51.359433,
  'long': -0.307994},
 {'reg_number': '1181248',
  'name': 'SCAMPPS IN SURREY',
  'lat': 51.384856,
  'long': -0.29875},
 {'reg_number': '1145557',
  'name': 'BELIEVE IN MAGIC',
  'lat': 51.404724,
  'long': -0.292814},
 {'reg_number': '1096508',
  'name': 'Employment Autism',
  'lat': 51.403751,
  'long': -0.248806},
 {'reg_number': '288255',
  'name': 'ESHER DISTRICT STROKE CLUB',
  'lat': 51.385381,
  'long': -0.271352},
 {'reg_number': '1172158',
  'name': 'HHUGS - HELPING HOUSEHOLDS UNDER GREAT STRESS',
  'lat': 51.393806,
  'long': -0.2561},
 {'reg_number': '1180061',
  'name': 'EPSOM RIDING FOR THE DISABLED ASSOCIATION INCORPORATING CARRIAGE DRIVING',
  'lat': 51.389423,
  'long': -0.271646},
 {'reg_number': '1114694',
  'name': 'THE MILLENNIUM GROUP (TMG) FOUNDATION',
  'lat': 51.364748,
  'long': -0.287586},
 {'reg_number': '296780',
  'name': 'DIVINE INNOCENCE TRUST',
  'lat': 51.404724,
  'long': -0.292814},
 {'reg_number': '1129791',
  'name': "KATHRYN'S MERCY HOME TRUST (UK)",
  'lat': 51.383817,
  'long': -0.299033},
 {'reg_number': '803442',
  'name': "FOREST YOUNG MEN'S CHRISTIAN ASSOCIATION OF EAST LONDON",
  'lat': 51.393362,
  'long': -0.305549},
 {'reg_number': '1124504',
  'name': "EMMA'S BUBBLE TRUST",
  'lat': 51.370702,
  'long': -0.299993},
 {'reg_number': '272135',
  'name': 'GREEK ORTHODOX COMMUNITY OF ST GEORGE THE MARTYR',
  'lat': 51.393899,
  'long': -0.276407},
 {'reg_number': '1109835',
  'name': 'FUTURE STARS',
  'lat': 51.401192,
  'long': -0.305964},
 {'reg_number': '1125637',
  'name': 'GRAND AVENUE OUT OF SCHOOL CLUB',
  'lat': 51.389623,
  'long': -0.276683},
 {'reg_number': '1137096',
  'name': 'FRIENDS OF DYSART SCHOOL',
  'lat': 51.386384,
  'long': -0.296853},
 {'reg_number': '1077417',
  'name': "NOAH'S ARK ( TOLWORTH ) PRE-SCHOOL",
  'lat': 51.382438,
  'long': -0.283468},
 {'reg_number': '1156824',
  'name': 'STREATHAM DROP-IN CENTRE FOR ASYLUM SEEKERS AND REFUGEES',
  'lat': 51.399902,
  'long': -0.295812},
 {'reg_number': '1029705',
  'name': 'ACACIA PLAYGROUP ASSOCIATION',
  'lat': 51.408609,
  'long': -0.253811},
 {'reg_number': '1132665',
  'name': 'THE CHURCH OF DAVID',
  'lat': 51.397832,
  'long': -0.252324},
 {'reg_number': '1181597',
  'name': 'MISSION EMPLOYABLE',
  'lat': 51.404778,
  'long': -0.292849},
 {'reg_number': '1089255',
  'name': 'FRIENDS OF KINGSTON MUSIC SERVICE',
  'lat': 51.389067,
  'long': -0.299528},
 {'reg_number': '1127379',
  'name': 'THE ETHIOPIAN GRADUATE SCHOOL OF THEOLOGY TRUST',
  'lat': 51.39935,
  'long': -0.270998},
 {'reg_number': '285943',
  'name': 'THE SURBITON AND DISTRICT BIRD WATCHING SOCIETY',
  'lat': 51.405376,
  'long': -0.255257},
 {'reg_number': '1027476',
  'name': 'CHRISTIAN SCIENCE SOCIETY, KINGSTON UPON THAMES',
  'lat': 51.403619,
  'long': -0.304696},
 {'reg_number': '1146287',
  'name': 'CANBURY PARK CHURCH TRUST',
  'lat': 51.395452,
  'long': -0.259186},
 {'reg_number': '311906',
  'name': "LORD KNYVETT'S EDUCATIONAL FOUNDATION",
  'lat': 51.404903,
  'long': -0.305144},
 {'reg_number': '1183374',
  'name': 'NCMN 5K UK',
  'lat': 51.409735,
  'long': -0.305404},
 {'reg_number': '1184453',
  'name': 'THE EMMANUEL MINISTRY FUND',
  'lat': 51.389623,
  'long': -0.276683},
 {'reg_number': '1182389',
  'name': 'KINGSTON-UPON-THAMES UNITED CHARITIES',
  'lat': 51.402133,
  'long': -0.254892},
 {'reg_number': '280771',
  'name': '4TH BERRYLANDS GUIDE COMPANY',
  'lat': 51.385983,
  'long': -0.281692},
 {'reg_number': '1003622',
  'name': 'OUR LADY IMMACULATE SCHOOL PARENT-TEACHER ASSOCIATION',
  'lat': 51.382438,
  'long': -0.283468},
 {'reg_number': '1014755',
  'name': 'ACT(UK)',
  'lat': 51.398518,
  'long': -0.278577},
 {'reg_number': '1156971',
  'name': 'THE ASSOCIATION OF RINGING TEACHERS: A.R.T',
  'lat': 51.401429,
  'long': -0.255321},
 {'reg_number': '1149464',
  'name': '21 AND CO',
  'lat': 51.396056,
  'long': -0.268981},
 {'reg_number': '237243',
  'name': 'OLD BURIAL GROUND ESTATE',
  'lat': 51.409998,
  'long': -0.298061},
 {'reg_number': '303760',
  'name': '7TH MALDEN (ST JAMES) SCOUT GROUP',
  'lat': 51.395146,
  'long': -0.257903},
 {'reg_number': 'SC046163',
  'name': 'The Hem of His Garment Ministry',
  'lat': 51.405206,
  'long': -0.277823},
 {'reg_number': '1047038',
  'name': 'THE DOUGLAS CENTRE TRUST',
  'lat': 51.379185,
  'long': -0.295296},
 {'reg_number': '1069080',
  'name': 'ROYAL NAVAL ASSOCIATION KINGSTON UPON THAMES BRANCH',
  'lat': 51.394538,
  'long': -0.267241},
 {'reg_number': '1051500',
  'name': '2ND TOLWORTH SCOUT GROUP',
  'lat': 51.389491,
  'long': -0.287913},
 {'reg_number': '1144227',
  'name': 'GLOBAL FELLOWSHIP OF CONFESSING ANGLICANS',
  'lat': 51.401611,
  'long': -0.27064},
 {'reg_number': '1180378',
  'name': 'BRIGHTER LIVING',
  'lat': 51.374296,
  'long': -0.301038},
 {'reg_number': '1036098',
  'name': 'KINGSTON UPON THAMES FESTIVAL OF THE PERFORMING ARTS',
  'lat': 51.396611,
  'long': -0.286569},
 {'reg_number': '274394',
  'name': 'THE ROZEL TRUST',
  'lat': 51.4068,
  'long': -0.254254},
 {'reg_number': '225485',
  'name': 'THE CHARITY OF THE ORDER OF THE MARIST SISTERS PROVINCE OF ENGLAND',
  'lat': 51.395452,
  'long': -0.259186},
 {'reg_number': '1036207',
  'name': 'DORIS VENNER PRE-SCHOOL',
  'lat': 51.380785,
  'long': -0.248303},
 {'reg_number': '1147762',
  'name': "FRIENDS OF MAPLE INFANTS' SCHOOL",
  'lat': 51.394992,
  'long': -0.306927},
 {'reg_number': '1132559',
  'name': 'NEW MALDEN BAPTIST CHURCH',
  'lat': 51.404938,
  'long': -0.255475},
 {'reg_number': '1166701',
  'name': 'DULA INTERNATIONAL',
  'lat': 51.406125,
  'long': -0.256034},
 {'reg_number': '277315',
  'name': 'KINGSTON UPON THAMES ARCHAEOLOGICAL SOCIETY',
  'lat': 51.396966,
  'long': -0.283163},
 {'reg_number': '1106034',
  'name': 'RESIDENTIAL FORUM LIMITED',
  'lat': 51.391872,
  'long': -0.306984},
 {'reg_number': '1135522',
  'name': 'KINGSTON RACE AND EQUALITIES COUNCIL',
  'lat': 51.410061,
  'long': -0.303048},
 {'reg_number': '1172541',
  'name': 'SHARING LIVES',
  'lat': 51.36252,
  'long': -0.314401},
 {'reg_number': '1125447',
  'name': 'HANNAH MEMORIAL ACADEMY TRUST',
  'lat': 51.395234,
  'long': -0.310008},
 {'reg_number': '1128231',
  'name': 'KINGSTON SOMALI COMMUNITY ASSOCIATION (KSCA)',
  'lat': 51.408856,
  'long': -0.290641},
 {'reg_number': '1159276',
  'name': 'THE KOREAN CHURCH LONDON',
  'lat': 51.404751,
  'long': -0.302734},
 {'reg_number': '1029706',
  'name': 'SURBITON CLUB FOR THE BLIND',
  'lat': 51.391025,
  'long': -0.287051},
 {'reg_number': '1099951',
  'name': 'KIDS UNITED PLAYGROUP',
  'lat': 51.386529,
  'long': -0.279099},
 {'reg_number': '1136830',
  'name': 'LIMBLESS CHILDREN INTERNATIONAL LIMITED',
  'lat': 51.391494,
  'long': -0.250022},
 {'reg_number': '1159462',
  'name': 'WES LUNN DESIGN EDUCATION TRUST',
  'lat': 51.40167,
  'long': -0.305508},
 {'reg_number': '1037928',
  'name': 'THE MALDEN MANOR PRIMARY SCHOOL PARENTS TEACHERS ASSOCIATION',
  'lat': 51.386117,
  'long': -0.259698},
 {'reg_number': '1150907',
  'name': 'HUDA SURREY ISLAMIC CENTRE',
  'lat': 51.408873,
  'long': -0.284414},
 {'reg_number': '1149693',
  'name': 'HUMANITY FIRST',
  'lat': 51.375381,
  'long': -0.29344},
 {'reg_number': '1128049',
  'name': 'ALL SAINTS KINGSTON UPON THAMES',
  'lat': 51.403712,
  'long': -0.305498},
 {'reg_number': '1135603',
  'name': 'NEW MALDEN UNITED REFORMED CHURCH CHARITY',
  'lat': 51.403146,
  'long': -0.25228},
 {'reg_number': '205813',
  'name': 'THE CO-MASONIC BENEVOLENT FUND',
  'lat': 51.397616,
  'long': -0.298765},
 {'reg_number': '1075861',
  'name': 'CALVARY KOREAN CHURCH',
  'lat': 51.383905,
  'long': -0.245871},
 {'reg_number': '275419',
  'name': 'BEDELSFORD SCHOOL ASSOCIATION',
  'lat': 51.405632,
  'long': -0.301501},
 {'reg_number': '209741',
  'name': 'NORTH SURREY GROUP SCOPE',
  'lat': 51.401676,
  'long': -0.299031},
 {'reg_number': '1038134',
  'name': 'ABACUS PRE-SCHOOL',
  'lat': 51.401788,
  'long': -0.257665},
 {'reg_number': '1166657',
  'name': 'THE LOUISE TEBBOTH FOUNDATION',
  'lat': 51.385004,
  'long': -0.249565},
 {'reg_number': '1178647',
  'name': 'KINGSTON COMMUNITY REFUGEE SPONSORSHIP',
  'lat': 51.410072,
  'long': -0.306312},
 {'reg_number': '1098919',
  'name': 'KNOLLMEAD PARENT SCHOOL ASSOCIATION',
  'lat': 51.378947,
  'long': -0.278363},
 {'reg_number': '1145464',
  'name': 'NEWLIFE AID',
  'lat': 51.382249,
  'long': -0.268165},
 {'reg_number': '1176250',
  'name': 'TALE2TAIL',
  'lat': 51.402612,
  'long': -0.256887},
 {'reg_number': '1160195',
  'name': 'THE GLOBE CHURCH',
  'lat': 51.373843,
  'long': -0.301414},
 {'reg_number': '1183402',
  'name': 'FREE THEATRE UK',
  'lat': 51.399571,
  'long': -0.293417},
 {'reg_number': '1177586',
  'name': 'EAST MOLESEY CRICKET CLUB',
  'lat': 51.394736,
  'long': -0.283189},
 {'reg_number': '1073839',
  'name': 'THE HARTLEY TRUST GHANA EDUCATIONAL FOUNDATION',
  'lat': 51.402525,
  'long': -0.249831},
 {'reg_number': '1172975',
  'name': 'SOCIAL MISSION INSTITUTE ("SMI")',
  'lat': 51.390148,
  'long': -0.265323},
 {'reg_number': '299988',
  'name': 'AGE CONCERN KINGSTON UPON THAMES',
  'lat': 51.395694,
  'long': -0.262727},
 {'reg_number': '1109645',
  'name': 'THE PIED PIPER CLUB',
  'lat': 51.406884,
  'long': -0.289837},
 {'reg_number': '1182265',
  'name': 'EXODUS TRAVELS FOUNDATION',
  'lat': 51.393004,
  'long': -0.303751},
 {'reg_number': '1002455',
  'name': 'ASSOCIATED BUS MINISTRIES',
  'lat': 51.391872,
  'long': -0.306984},
 {'reg_number': '1151456',
  'name': "KINGSTON CARERS' NETWORK",
  'lat': 51.382131,
  'long': -0.285262},
 {'reg_number': '1176621',
  'name': 'NEW MALDEN METHODIST CHURCH',
  'lat': 51.402612,
  'long': -0.256887},
 {'reg_number': '254496',
  'name': "LONDON WIMBLEDON CONGREGATION OF JEHOVAH'S WITNESSES",
  'lat': 51.379633,
  'long': -0.251854},
 {'reg_number': '1185173',
  'name': 'THE DERICK MULONDO FOUNDATION',
  'lat': 51.407426,
  'long': -0.28513},
 {'reg_number': '1015180',
  'name': 'THE ROYAL BOROUGH OF KINGSTON UPON THAMES CITIZENS ADVICE BUREAUX SERVICE',
  'lat': 51.410061,
  'long': -0.303048},
 {'reg_number': '1052645',
  'name': 'KINGSTON GRAMMAR SCHOOL MUSIC SOCIETY',
  'lat': 51.410066,
  'long': -0.296534},
 {'reg_number': '1139399',
  'name': 'KICKSTART GHANA',
  'lat': 51.393641,
  'long': -0.285775},
 {'reg_number': '1079175',
  'name': 'SUPPORTING AFRICAN YOUTH DEVELOPMENT',
  'lat': 51.384025,
  'long': -0.275154},
 {'reg_number': '1130128',
  'name': "ST PAUL'S (THAMES DITTON) PARENTS' ASSOCIATION",
  'lat': 51.391872,
  'long': -0.306984},
 {'reg_number': '289873',
  'name': 'DONALD WOODS FOUNDATION',
  'lat': 51.396056,
  'long': -0.268981},
 {'reg_number': '1145155',
  'name': 'THE PAROCHIAL CHURCH COUNCIL OF THE ECCLESIASTICAL PARISH OF ST JOHN THE BAPTIST, MALDEN',
  'lat': 51.381066,
  'long': -0.259889},
 {'reg_number': '1086019',
  'name': 'CORPAL',
  'lat': 51.391501,
  'long': -0.262555},
 {'reg_number': '313757',
  'name': 'VOLUNTARY SERVICE OVERSEAS',
  'lat': 51.410605,
  'long': -0.292805},
 {'reg_number': '1184338',
  'name': 'THE CARE WORKERS CHARITY',
  'lat': 51.389377,
  'long': -0.302354},
 {'reg_number': '1163819',
  'name': 'PARACLETOS',
  'lat': 51.401298,
  'long': -0.297162},
 {'reg_number': '1168320',
  'name': 'KINGSTON SAMARITANS',
  'lat': 51.407673,
  'long': -0.302727},
 {'reg_number': '1050461',
  'name': "INDIGENOUS PEOPLE'S CULTURAL SUPPORT TRUST",
  'lat': 51.410972,
  'long': -0.288995},
 {'reg_number': '1113437',
  'name': 'OPERA DE BAUGE',
  'lat': 51.396823,
  'long': -0.261865},
 {'reg_number': '1152035',
  'name': 'MUSKAAN UK',
  'lat': 51.399293,
  'long': -0.26226},
 {'reg_number': '1030322',
  'name': 'OLI TODDLER GROUP',
  'lat': 51.379745,
  'long': -0.285604},
 {'reg_number': '1111639',
  'name': 'FULHAM FOOTBALL CLUB FOUNDATION',
  'lat': 51.391254,
  'long': -0.247185},
 {'reg_number': '1117528',
  'name': 'HAITI HOSPITAL APPEAL',
  'lat': 51.388564,
  'long': -0.297167},
 {'reg_number': '1181704',

In [187]:
r = requests.get('https://opendata.arcgis.com/datasets/1957697792a24de8a561215c26b57d12_0.geojson')
pcon = r.json()

In [191]:
[(f['properties']['PCON18CD'], f['properties']['PCON18NM']) for f in pcon['features']]

[('E14000530', 'Aldershot'),
 ('E14000531', 'Aldridge-Brownhills'),
 ('E14000532', 'Altrincham and Sale West'),
 ('E14000533', 'Amber Valley'),
 ('E14000534', 'Arundel and South Downs'),
 ('E14000535', 'Ashfield'),
 ('E14000536', 'Ashford'),
 ('E14000537', 'Ashton-under-Lyne'),
 ('E14000538', 'Aylesbury'),
 ('E14000539', 'Banbury'),
 ('E14000540', 'Barking'),
 ('E14000541', 'Barnsley Central'),
 ('E14000542', 'Barnsley East'),
 ('E14000543', 'Barrow and Furness'),
 ('E14000544', 'Basildon and Billericay'),
 ('E14000545', 'Basingstoke'),
 ('E14000546', 'Bassetlaw'),
 ('E14000547', 'Bath'),
 ('E14000548', 'Batley and Spen'),
 ('E14000549', 'Battersea'),
 ('E14000550', 'Beaconsfield'),
 ('E14000551', 'Beckenham'),
 ('E14000552', 'Bedford'),
 ('E14000553', 'Bermondsey and Old Southwark'),
 ('E14000554', 'Berwick-upon-Tweed'),
 ('E14000555', 'Bethnal Green and Bow'),
 ('E14000556', 'Beverley and Holderness'),
 ('E14000557', 'Bexhill and Battle'),
 ('E14000558', 'Bexleyheath and Crayford'),
 ('E14000559', 'Birkenhead'),
 ('E14000560', 'Birmingham, Edgbaston'),
 ('E14000561', 'Birmingham, Erdington'),
 ('E14000562', 'Birmingham, Hall Green'),
 ('E14000563', 'Birmingham, Hodge Hill'),
 ('E14000564', 'Birmingham, Ladywood'),
 ('E14000565', 'Birmingham, Northfield'),
 ('E14000566', 'Birmingham, Perry Barr'),
 ('E14000567', 'Birmingham, Selly Oak'),
 ('E14000568', 'Birmingham, Yardley'),
 ('E14000569', 'Bishop Auckland'),
 ('E14000570', 'Blackburn'),
 ('E14000571', 'Blackley and Broughton'),
 ('E14000572', 'Blackpool North and Cleveleys'),
 ('E14000573', 'Blackpool South'),
 ('E14000574', 'Blaydon'),
 ('E14000575', 'Blyth Valley'),
 ('E14000576', 'Bognor Regis and Littlehampton'),
 ('E14000577', 'Bolsover'),
 ('E14000578', 'Bolton North East'),
 ('E14000579', 'Bolton South East'),
 ('E14000730', 'Harrogate and Knaresborough'),
 ('E14000731', 'Harrow East'),
 ('E14000732', 'Harrow West'),
 ('E14000733', 'Hartlepool'),
 ('E14000734', 'Harwich and North Essex'),
 ('E14000735', 'Hastings and Rye'),
 ('E14000736', 'Havant'),
 ('E14000737', 'Hayes and Harlington'),
 ('E14000738', 'Hazel Grove'),
 ('E14000739', 'Hemel Hempstead'),
 ('E14000740', 'Hemsworth'),
 ('E14000741', 'Hendon'),
 ('E14000742', 'Henley'),
 ('E14000743', 'Hereford and South Herefordshire'),
 ('E14000744', 'Hertford and Stortford'),
 ('E14000745', 'Hertsmere'),
 ('E14000746', 'Hexham'),
 ('E14000747', 'Heywood and Middleton'),
 ('E14000748', 'High Peak'),
 ('E14000749', 'Hitchin and Harpenden'),
 ('E14000750', 'Holborn and St Pancras'),
 ('E14000751', 'Hornchurch and Upminster'),
 ('E14000752', 'Hornsey and Wood Green'),
 ('E14000753', 'Horsham'),
 ('E14000754', 'Houghton and Sunderland South'),
 ('E14000755', 'Hove'),
 ('E14000756', 'Huddersfield'),
 ('E14000757', 'Huntingdon'),
 ('E14000758', 'Hyndburn'),
 ('E14000759', 'Ilford North'),
 ('E14000760', 'Ilford South'),
 ('E14000761', 'Ipswich'),
 ('E14000762', 'Isle of Wight'),
 ('E14000763', 'Islington North'),
 ('E14000764', 'Islington South and Finsbury'),
 ('E14000765', 'Jarrow'),
 ('E14000766', 'Keighley'),
 ('E14000767', 'Kenilworth and Southam'),
 ('E14000768', 'Kensington'),
 ('E14000769', 'Kettering'),
 ('E14000770', 'Kingston and Surbiton'),
 ('E14000771', 'Kingston upon Hull East'),
 ('E14000772', 'Kingston upon Hull North'),
 ('E14000773', 'Kingston upon Hull West and Hessle'),
 ('E14000774', 'Kingswood'),
 ('E14000775', 'Knowsley'),
 ('E14000776', 'Lancaster and Fleetwood'),
 ('E14000777', 'Leeds Central'),
 ('E14000778', 'Leeds East'),
 ('E14000779', 'Leeds North East'),
 ('E14000580', 'Bolton West'),
 ('E14000581', 'Bootle'),
 ('E14000582', 'Boston and Skegness'),
 ('E14000583', 'Bosworth'),
 ('E14000584', 'Bournemouth East'),
 ('E14000585', 'Bournemouth West'),
 ('E14000586', 'Bracknell'),
 ('E14000587', 'Bradford East'),
 ('E14000588', 'Bradford South'),
 ('E14000589', 'Bradford West'),
 ('E14000590', 'Braintree'),
 ('E14000591', 'Brent Central'),
 ('E14000592', 'Brent North'),
 ('E14000593', 'Brentford and Isleworth'),
 ('E14000594', 'Brentwood and Ongar'),
 ('E14000595', 'Bridgwater and West Somerset'),
 ('E14000596', 'Brigg and Goole'),
 ('E14000597', 'Brighton, Kemptown'),
 ('E14000598', 'Brighton, Pavilion'),
 ('E14000599', 'Bristol East'),
 ('E14000600', 'Bristol North West'),
 ('E14000601', 'Bristol South'),
 ('E14000602', 'Bristol West'),
 ('E14000603', 'Broadland'),
 ('E14000604', 'Bromley and Chislehurst'),
 ('E14000605', 'Bromsgrove'),
 ('E14000606', 'Broxbourne'),
 ('E14000607', 'Broxtowe'),
 ('E14000608', 'Buckingham'),
 ('E14000609', 'Burnley'),
 ('E14000610', 'Burton'),
 ('E14000611', 'Bury North'),
 ('E14000612', 'Bury South'),
 ('E14000613', 'Bury St Edmunds'),
 ('E14000614', 'Calder Valley'),
 ('E14000615', 'Camberwell and Peckham'),
 ('E14000616', 'Camborne and Redruth'),
 ('E14000617', 'Cambridge'),
 ('E14000618', 'Cannock Chase'),
 ('E14000619', 'Canterbury'),
 ('E14000620', 'Carlisle'),
 ('E14000621', 'Carshalton and Wallington'),
 ('E14000622', 'Castle Point'),
 ('E14000623', 'Central Devon'),
 ('E14000624', 'Central Suffolk and North Ipswich'),
 ('E14000625', 'Charnwood'),
 ('E14000626', 'Chatham and Aylesford'),
 ('E14000627', 'Cheadle'),
 ('E14000628', 'Chelmsford'),
 ('E14000629', 'Chelsea and Fulham'),
 ('E14000780', 'Leeds North West'),
 ('E14000781', 'Leeds West'),
 ('E14000782', 'Leicester East'),
 ('E14000783', 'Leicester South'),
 ('E14000784', 'Leicester West'),
 ('E14000785', 'Leigh'),
 ('E14000786', 'Lewes'),
 ('E14000787', 'Lewisham East'),
 ('E14000788', 'Lewisham West and Penge'),
 ('E14000789', 'Lewisham, Deptford'),
 ('E14000790', 'Leyton and Wanstead'),
 ('E14000791', 'Lichfield'),
 ('E14000792', 'Lincoln'),
 ('E14000793', 'Liverpool, Riverside'),
 ('E14000794', 'Liverpool, Walton'),
 ('E14000795', 'Liverpool, Wavertree'),
 ('E14000796', 'Liverpool, West Derby'),
 ('E14000797', 'Loughborough'),
 ('E14000798', 'Louth and Horncastle'),
 ('E14000799', 'Ludlow'),
 ('E14000800', 'Luton North'),
 ('E14000801', 'Luton South'),
 ('E14000802', 'Macclesfield'),
 ('E14000803', 'Maidenhead'),
 ('E14000804', 'Maidstone and The Weald'),
 ('E14000805', 'Makerfield'),
 ('E14000806', 'Maldon'),
 ('E14000807', 'Manchester Central'),
 ('E14000808', 'Manchester, Gorton'),
 ('E14000809', 'Manchester, Withington'),
 ('E14000810', 'Mansfield'),
 ('E14000811', 'Meon Valley'),
 ('E14000812', 'Meriden'),
 ('E14000813', 'Mid Bedfordshire'),
 ('E14000814', 'Mid Derbyshire'),
 ('E14000815', 'Mid Dorset and North Poole'),
 ('E14000816', 'Mid Norfolk'),
 ('E14000817', 'Mid Sussex'),
 ('E14000818', 'Mid Worcestershire'),
 ('E14000819', 'Middlesbrough'),
 ('E14000820', 'Middlesbrough South and East Cleveland'),
 ('E14000821', 'Milton Keynes North'),
 ('E14000822', 'Milton Keynes South'),
 ('E14000823', 'Mitcham and Morden'),
 ('E14000824', 'Mole Valley'),
 ('E14000825', 'Morecambe and Lunesdale'),
 ('E14000826', 'Morley and Outwood'),
 ('E14000827', 'New Forest East'),
 ('E14000828', 'New Forest West'),
 ('E14000829', 'Newark'),
 ('E14000830', 'Newbury'),
 ('E14000831', 'Newcastle upon Tyne Central'),
 ('E14000832', 'Newcastle upon Tyne East'),
 ('E14000833', 'Newcastle upon Tyne North'),
 ('E14000834', 'Newcastle-under-Lyme'),
 ('E14000835', 'Newton Abbot'),
 ('E14000836', 'Normanton, Pontefract and Castleford'),
 ('E14000837', 'North Cornwall'),
 ('E14000838', 'North Devon'),
 ('E14000839', 'North Dorset'),
 ('E14000840', 'North Durham'),
 ('E14000841', 'North East Bedfordshire'),
 ('E14000842', 'North East Cambridgeshire'),
 ('E14000843', 'North East Derbyshire'),
 ('E14000844', 'North East Hampshire'),
 ('E14000845', 'North East Hertfordshire'),
 ('E14000846', 'North East Somerset'),
 ('E14000847', 'North Herefordshire'),
 ('E14000848', 'North Norfolk'),
 ('E14000849', 'North Shropshire'),
 ('E14000850', 'North Somerset'),
 ('E14000851', 'North Swindon'),
 ('E14000852', 'North Thanet'),
 ('E14000853', 'North Tyneside'),
 ('E14000854', 'North Warwickshire'),
 ('E14000855', 'North West Cambridgeshire'),
 ('E14000856', 'North West Durham'),
 ('E14000857', 'North West Hampshire'),
 ('E14000858', 'North West Leicestershire'),
 ('E14000859', 'North West Norfolk'),
 ('E14000860', 'North Wiltshire'),
 ('E14000861', 'Northampton North'),
 ('E14000862', 'Northampton South'),
 ('E14000863', 'Norwich North'),
 ('E14000864', 'Norwich South'),
 ('E14000865', 'Nottingham East'),
 ('E14000866', 'Nottingham North'),
 ('E14000867', 'Nottingham South'),
 ('E14000868', 'Nuneaton'),
 ('E14000869', 'Old Bexley and Sidcup'),
 ('E14000870', 'Oldham East and Saddleworth'),
 ('E14000871', 'Oldham West and Royton'),
 ('E14000872', 'Orpington'),
 ('E14000873', 'Oxford East'),
 ('E14000874', 'Oxford West and Abingdon'),
 ('E14000875', 'Pendle'),
 ('E14000876', 'Penistone and Stocksbridge'),
 ('E14000877', 'Penrith and The Border'),
 ('E14000878', 'Peterborough'),
 ('E14000879', 'Plymouth, Moor View'),
 ('E14000680', 'East Hampshire'),
 ('E14000681', 'East Surrey'),
 ('E14000682', 'East Worthing and Shoreham'),
 ('E14000683', 'East Yorkshire'),
 ('E14000684', 'Eastbourne'),
 ('E14000685', 'Eastleigh'),
 ('E14000686', 'Eddisbury'),
 ('E14000687', 'Edmonton'),
 ('E14000688', 'Ellesmere Port and Neston'),
 ('E14000689', 'Elmet and Rothwell'),
 ('E14000690', 'Eltham'),
 ('E14000691', 'Enfield North'),
 ('E14000692', 'Enfield, Southgate'),
 ('E14000693', 'Epping Forest'),
 ('E14000694', 'Epsom and Ewell'),
 ('E14000695', 'Erewash'),
 ('E14000696', 'Erith and Thamesmead'),
 ('E14000697', 'Esher and Walton'),
 ('E14000698', 'Exeter'),
 ('E14000699', 'Fareham'),
 ('E14000700', 'Faversham and Mid Kent'),
 ('E14000701', 'Feltham and Heston'),
 ('E14000702', 'Filton and Bradley Stoke'),
 ('E14000703', 'Finchley and Golders Green'),
 ('E14000704', 'Folkestone and Hythe'),
 ('E14000705', 'Forest of Dean'),
 ('E14000706', 'Fylde'),
 ('E14000707', 'Gainsborough'),
 ('E14000708', 'Garston and Halewood'),
 ('E14000709', 'Gateshead'),
 ('E14000710', 'Gedling'),
 ('E14000711', 'Gillingham and Rainham'),
 ('E14000712', 'Gloucester'),
 ('E14000713', 'Gosport'),
 ('E14000714', 'Grantham and Stamford'),
 ('E14000715', 'Gravesham'),
 ('E14000716', 'Great Grimsby'),
 ('E14000717', 'Great Yarmouth'),
 ('E14000718', 'Greenwich and Woolwich'),
 ('E14000719', 'Guildford'),
 ('E14000720', 'Hackney North and Stoke Newington'),
 ('E14000721', 'Hackney South and Shoreditch'),
 ('E14000722', 'Halesowen and Rowley Regis'),
 ('E14000723', 'Halifax'),
 ('E14000724', 'Haltemprice and Howden'),
 ('E14000725', 'Halton'),
 ('E14000726', 'Hammersmith'),
 ('E14000727', 'Hampstead and Kilburn'),
 ('E14000728', 'Harborough'),
 ('E14000729', 'Harlow'),
 ('E14000880', 'Plymouth, Sutton and Devonport'),
 ('E14000630', 'Cheltenham'),
 ('E14000631', 'Chesham and Amersham'),
 ('E14000632', 'Chesterfield'),
 ('E14000633', 'Chichester'),
 ('E14000634', 'Chingford and Woodford Green'),
 ('E14000635', 'Chippenham'),
 ('E14000636', 'Chipping Barnet'),
 ('E14000637', 'Chorley'),
 ('E14000638', 'Christchurch'),
 ('E14000639', 'Cities of London and Westminster'),
 ('E14000640', 'City of Chester'),
 ('E14000641', 'City of Durham'),
 ('E14000642', 'Clacton'),
 ('E14000643', 'Cleethorpes'),
 ('E14000644', 'Colchester'),
 ('E14000645', 'Colne Valley'),
 ('E14000646', 'Congleton'),
 ('E14000647', 'Copeland'),
 ('E14000648', 'Corby'),
 ('E14000649', 'Coventry North East'),
 ('E14000650', 'Coventry North West'),
 ('E14000651', 'Coventry South'),
 ('E14000652', 'Crawley'),
 ('E14000653', 'Crewe and Nantwich'),
 ('E14000654', 'Croydon Central'),
 ('E14000655', 'Croydon North'),
 ('E14000656', 'Croydon South'),
 ('E14000657', 'Dagenham and Rainham'),
 ('E14000658', 'Darlington'),
 ('E14000659', 'Dartford'),
 ('E14000660', 'Daventry'),
 ('E14000661', 'Denton and Reddish'),
 ('E14000662', 'Derby North'),
 ('E14000663', 'Derby South'),
 ('E14000664', 'Derbyshire Dales'),
 ('E14000665', 'Devizes'),
 ('E14000666', 'Dewsbury'),
 ('E14000667', 'Don Valley'),
 ('E14000668', 'Doncaster Central'),
 ('E14000669', 'Doncaster North'),
 ('E14000670', 'Dover'),
 ('E14000671', 'Dudley North'),
 ('E14000672', 'Dudley South'),
 ('E14000673', 'Dulwich and West Norwood'),
 ('E14000674', 'Ealing Central and Acton'),
 ('E14000675', 'Ealing North'),
 ('E14000676', 'Ealing, Southall'),
 ('E14000677', 'Easington'),
 ('E14000678', 'East Devon'),
 ('E14000679', 'East Ham'),
 ('E14000881', 'Poole'),
 ('E14000882', 'Poplar and Limehouse'),
 ('E14000883', 'Portsmouth North'),
 ('E14000884', 'Portsmouth South'),
 ('E14000885', 'Preston'),
 ('E14000886', 'Pudsey'),
 ('E14000887', 'Putney'),
 ('E14000888', 'Rayleigh and Wickford'),
 ('E14000889', 'Reading East'),
 ('E14000890', 'Reading West'),
 ('E14000891', 'Redcar'),
 ('E14000892', 'Redditch'),
 ('E14000893', 'Reigate'),
 ('E14000894', 'Ribble Valley'),
 ('E14000895', 'Richmond (Yorks)'),
 ('E14000896', 'Richmond Park'),
 ('E14000897', 'Rochdale'),
 ('E14000898', 'Rochester and Strood'),
 ('E14000899', 'Rochford and Southend East'),
 ('E14000900', 'Romford'),
 ('E14000901', 'Romsey and Southampton North'),
 ('E14000902', 'Rossendale and Darwen'),
 ('E14000903', 'Rother Valley'),
 ('E14000904', 'Rotherham'),
 ('E14000905', 'Rugby'),
 ('E14000906', 'Ruislip, Northwood and Pinner'),
 ('E14000907', 'Runnymede and Weybridge'),
 ('E14000908', 'Rushcliffe'),
 ('E14000909', 'Rutland and Melton'),
 ('E14000910', 'Saffron Walden'),
 ('E14000911', 'Salford and Eccles'),
 ('E14000912', 'Salisbury'),
 ('E14000913', 'Scarborough and Whitby'),
 ('E14000914', 'Scunthorpe'),
 ('E14000915', 'Sedgefield'),
 ('E14000916', 'Sefton Central'),
 ('E14000917', 'Selby and Ainsty'),
 ('E14000918', 'Sevenoaks'),
 ('E14000919', 'Sheffield Central'),
 ('E14000920', 'Sheffield South East'),
 ('E14000921', 'Sheffield, Brightside and Hillsborough'),
 ('E14000922', 'Sheffield, Hallam'),
 ('E14000923', 'Sheffield, Heeley'),
 ('E14000924', 'Sherwood'),
 ('E14000925', 'Shipley'),
 ('E14000926', 'Shrewsbury and Atcham'),
 ('E14000927', 'Sittingbourne and Sheppey'),
 ('E14000928', 'Skipton and Ripon'),
 ('E14000929', 'Sleaford and North Hykeham'),
 ('S14000050', 'Ochil and South Perthshire'),
 ('S14000051', 'Orkney and Shetland'),
 ('S14000052', 'Paisley and Renfrewshire North'),
 ('S14000053', 'Paisley and Renfrewshire South'),
 ('S14000054', 'Perth and North Perthshire'),
 ('S14000055', 'Ross, Skye and Lochaber'),
 ('S14000056', 'Rutherglen and Hamilton West'),
 ('S14000057', 'Stirling'),
 ('S14000058', 'West Aberdeenshire and Kincardine'),
 ('S14000059', 'West Dunbartonshire'),
 ('W07000041', 'Ynys Môn'),
 ('W07000042', 'Delyn'),
 ('W07000043', 'Alyn and Deeside'),
 ('W07000044', 'Wrexham'),
 ('W07000045', 'Llanelli'),
 ('W07000046', 'Gower'),
 ('W07000047', 'Swansea West'),
 ('W07000048', 'Swansea East'),
 ('W07000049', 'Aberavon'),
 ('W07000050', 'Cardiff Central'),
 ('W07000051', 'Cardiff North'),
 ('W07000052', 'Rhondda'),
 ('W07000053', 'Torfaen'),
 ('W07000054', 'Monmouth'),
 ('W07000055', 'Newport East'),
 ('W07000056', 'Newport West'),
 ('W07000057', 'Arfon'),
 ('W07000058', 'Aberconwy'),
 ('W07000059', 'Clwyd West'),
 ('W07000060', 'Vale of Clwyd'),
 ('W07000061', 'Dwyfor Meirionnydd'),
 ('W07000062', 'Clwyd South'),
 ('W07000063', 'Montgomeryshire'),
 ('W07000064', 'Ceredigion'),
 ('W07000065', 'Preseli Pembrokeshire'),
 ('W07000066', 'Carmarthen West and South Pembrokeshire'),
 ('W07000067', 'Carmarthen East and Dinefwr'),
 ('W07000068', 'Brecon and Radnorshire'),
 ('W07000069', 'Neath'),
 ('W07000070', 'Cynon Valley'),
 ('W07000071', 'Merthyr Tydfil and Rhymney'),
 ('W07000072', 'Blaenau Gwent'),
 ('W07000073', 'Bridgend'),
 ('W07000074', 'Ogmore'),
 ('W07000075', 'Pontypridd'),
 ('W07000076', 'Caerphilly'),
 ('W07000077', 'Islwyn'),
 ('W07000078', 'Vale of Glamorgan'),
 ('W07000079', 'Cardiff West'),
 ('W07000080', 'Cardiff South and Penarth'),
 ('E14000980', 'Stroud'),
 ('E14000981', 'Suffolk Coastal'),
 ('E14000982', 'Sunderland Central'),
 ('E14000983', 'Surrey Heath'),
 ('E14000984', 'Sutton and Cheam'),
 ('E14000985', 'Sutton Coldfield'),
 ('E14000986', 'Tamworth'),
 ('E14000987', 'Tatton'),
 ('E14000988', 'Taunton Deane'),
 ('E14000989', 'Telford'),
 ('E14000990', 'Tewkesbury'),
 ('E14000991', 'The Cotswolds'),
 ('E14000992', 'The Wrekin'),
 ('E14000993', 'Thirsk and Malton'),
 ('E14000994', 'Thornbury and Yate'),
 ('E14000995', 'Thurrock'),
 ('E14000996', 'Tiverton and Honiton'),
 ('E14000997', 'Tonbridge and Malling'),
 ('E14000998', 'Tooting'),
 ('E14000999', 'Torbay'),
 ('E14001000', 'Torridge and West Devon'),
 ('E14001001', 'Totnes'),
 ('E14001002', 'Tottenham'),
 ('E14001003', 'Truro and Falmouth'),
 ('E14001004', 'Tunbridge Wells'),
 ('E14001005', 'Twickenham'),
 ('E14001006', 'Tynemouth'),
 ('E14001007', 'Uxbridge and South Ruislip'),
 ('E14001008', 'Vauxhall'),
 ('E14001009', 'Wakefield'),
 ('E14001010', 'Wallasey'),
 ('E14001011', 'Walsall North'),
 ('E14001012', 'Walsall South'),
 ('E14001013', 'Walthamstow'),
 ('E14001014', 'Wansbeck'),
 ('E14001015', 'Wantage'),
 ('E14001016', 'Warley'),
 ('E14001017', 'Warrington North'),
 ('E14001018', 'Warrington South'),
 ('E14001019', 'Warwick and Leamington'),
 ('E14001020', 'Washington and Sunderland West'),
 ('E14001021', 'Watford'),
 ('E14001022', 'Waveney'),
 ('E14001023', 'Wealden'),
 ('E14001024', 'Weaver Vale'),
 ('E14001025', 'Wellingborough'),
 ('E14001026', 'Wells'),
 ('E14001027', 'Welwyn Hatfield'),
 ('E14001028', 'Wentworth and Dearne'),
 ('E14001029', 'West Bromwich East'),
 ('E14000930', 'Slough'),
 ('E14000931', 'Solihull'),
 ('E14000932', 'Somerton and Frome'),
 ('E14000933', 'South Basildon and East Thurrock'),
 ('E14000934', 'South Cambridgeshire'),
 ('E14000935', 'South Derbyshire'),
 ('E14000936', 'South Dorset'),
 ('E14000937', 'South East Cambridgeshire'),
 ('E14000938', 'South East Cornwall'),
 ('E14000939', 'South Holland and The Deepings'),
 ('E14000940', 'South Leicestershire'),
 ('E14000941', 'South Norfolk'),
 ('E14000942', 'South Northamptonshire'),
 ('E14000943', 'South Ribble'),
 ('E14000944', 'South Shields'),
 ('E14000945', 'South Staffordshire'),
 ('E14000946', 'South Suffolk'),
 ('E14000947', 'South Swindon'),
 ('E14000948', 'South Thanet'),
 ('E14000949', 'South West Bedfordshire'),
 ('E14000950', 'South West Devon'),
 ('E14000951', 'South West Hertfordshire'),
 ('E14000952', 'South West Norfolk'),
 ('E14000953', 'South West Surrey'),
 ('E14000954', 'South West Wiltshire'),
 ('E14000955', 'Southampton, Itchen'),
 ('E14000956', 'Southampton, Test'),
 ('E14000957', 'Southend West'),
 ('E14000958', 'Southport'),
 ('E14000959', 'Spelthorne'),
 ('E14000960', 'St Albans'),
 ('E14000961', 'St Austell and Newquay'),
 ('E14000962', 'St Helens North'),
 ('E14000963', 'St Helens South and Whiston'),
 ('E14000964', 'St Ives'),
 ('E14000965', 'Stafford'),
 ('E14000966', 'Staffordshire Moorlands'),
 ('E14000967', 'Stalybridge and Hyde'),
 ('E14000968', 'Stevenage'),
 ('E14000969', 'Stockport'),
 ('E14000970', 'Stockton North'),
 ('E14000971', 'Stockton South'),
 ('E14000972', 'Stoke-on-Trent Central'),
 ('E14000973', 'Stoke-on-Trent North'),
 ('E14000974', 'Stoke-on-Trent South'),
 ('E14000975', 'Stone'),
 ('E14000976', 'Stourbridge'),
 ('E14000977', 'Stratford-on-Avon'),
 ('E14000978', 'Streatham'),
 ('E14000979', 'Stretford and Urmston'),
 ('E14001030', 'West Bromwich West'),
 ('E14001031', 'West Dorset'),
 ('E14001032', 'West Ham'),
 ('E14001033', 'West Lancashire'),
 ('E14001034', 'West Suffolk'),
 ('E14001035', 'West Worcestershire'),
 ('E14001036', 'Westminster North'),
 ('E14001037', 'Westmorland and Lonsdale'),
 ('E14001038', 'Weston-Super-Mare'),
 ('E14001039', 'Wigan'),
 ('E14001040', 'Wimbledon'),
 ('E14001041', 'Winchester'),
 ('E14001042', 'Windsor'),
 ('E14001043', 'Wirral South'),
 ('E14001044', 'Wirral West'),
 ('E14001045', 'Witham'),
 ('E14001046', 'Witney'),
 ('E14001047', 'Woking'),
 ('E14001048', 'Wokingham'),
 ('E14001049', 'Wolverhampton North East'),
 ('E14001050', 'Wolverhampton South East'),
 ('E14001051', 'Wolverhampton South West'),
 ('E14001052', 'Worcester'),

In [195]:
df.join(pd.DataFrame(configs)).loc[df["active"], ["name", "lat", "long"] + list(configs.keys())]

,name,lat,long,all,exclude_sch_uni,exclude_national,exclude_sch_uni_and_national
reg_number,,,,,,,
1142035,KING ATHELSTAN PRIMARY SCHOOL PARENT CARER SCH...,51.412821,-0.294304,True,True,True,True
1130950,BETHEL MISSIONARY CHURCH UK,51.367012,-0.289958,True,True,False,False
1029508,BUCKLAND WOMEN'S CLUB,51.368562,-0.301327,True,True,True,True
1178151,REFUAID,51.396102,-0.285568,True,True,False,False
303125,KINGSTON BOYS' CLUB,51.410964,-0.301411,True,True,True,True
803042,UNIVERSITY OF CAPE TOWN TRUST,51.393728,-0.304098,True,True,False,False
1040958,IST TOLWORTH (ST. MATTHEW'S) SCOUT GROUP,51.376197,-0.291412,True,True,True,True
1134802,THE PAROCHIAL CHURCH COUNCIL OF THE ECCLESIAST...,51.395146,-0.257903,True,True,True,True
1026216,FRIENDS OF WOODFIELD SCHOOL,51.384259,-0.277574,True,True,True,True
1147039,MANNA MISSION OF EUROPE LTD,51.398671,-0.257956,True,True,False,False
1048454,MARITIME VOLUNTEER SERVICE,51.356551,-0.301465,True,True,False,False
312006,THE TULK FUND FOR SCHOOL SPORTS FACILITIES,51.404903,-0.305144,True,True,True,True
1148448,V4U UK LTD,51.397486,-0.271414,True,True,False,False
1125708,TIFFINIAN ASSOCIATION LIMITED,51.411770,-0.295623,True,True,True,True
802456,THE FIRCROFT TRUST,51.382183,-0.303562,True,True,True,True
1152720,LONDON ONE NATION CHURCH,51.405206,-0.277823,True,True,True,True
1157900,FISHABILITY UK,51.361879,-0.306151,True,True,True,True
1157559,AL-MADINA ISLAMIC & CULTURAL CENTRE SURBITON,51.375860,-0.289241,True,True,True,True
1179883,MARIST SISTERS GENERALATE CIO,51.395452,-0.259186,True,True,False,False
1184758,RICHARD CHALLONER SCHOOL PARENT TEACHER ASSOCI...,51.385276,-0.264880,True,True,True,True
312997,TIFFIN SCHOOL FOUNDATION,51.411770,-0.295623,True,True,True,True
272691,MALDEN EMERGENCY FIRST AID SOCIETY,51.400217,-0.252463,True,True,True,True
1165522,OXYGEN,51.411229,-0.290567,True,True,True,True
1108900,MUSLIM WOMEN SOCIETY FOR THE FUTURE,51.402699,-0.274279,True,True,False,False
1003243,THE ALCAZAR TRUST,51.394604,-0.282734,True,True,False,False
1105955,LABRADOR RETRIEVER RESCUE SOUTHERN ENGLAND,51.390216,-0.266887,True,True,False,False
1108135,THE HANBEET KOREAN PRESBYTERIAN CHURCH,51.410605,-0.292805,True,True,True,True
312094,THE HENRIETTA PARKER TRUST,51.404903,-0.305144,True,True,True,True
290758,FRIENDS OF GUIDING IN MALDEN AND COOMBE,51.396611,-0.286569,True,True,True,True
1107066,NATURAL HEALTH AWARENESS ASSOCIATION (NHAA),51.381142,-0.279071,True,True,True,True
...,...,...,...,...,...,...,...
1179348,MAPLE INFANTS' SCHOOL VOLUNTARY FUND,51.394992,-0.306927,True,True,False,False
303314,THE AGOONOREE (GREATER LONDON) TRUST FUND,51.380869,-0.253919,True,True,True,True
305711,1ST CUDDINGTON SEA SCOUT GROUP,51.379052,-0.256273,True,True,True,True
1134966,THE PAROCHIAL CHURCH COUNCIL OF THE ECCLESIAST...,51.407995,-0.257832,True,True,True,True
1128446,CHRIST CHURCH SCHOOL PARENT STAFF ASSOCIATION,51.391855,-0.286632,True,True,True,True
1077133,KINGSTON SPLASH,51.355171,-0.320560,True,True,True,True
327049,Spanish Dance Association,51.381301,-0.282571,True,True,False,False
1054542,THE CHRIST CHURCH TRUST,51.389461,-0.292074,True,True,True,True
281836,CHRISTIAN SOLIDARITY INTERNATIONAL,51.399449,-0.255258,True,True,False,False
282578,GRAND AVENUE SCHOOL PARENTS ASSOCIATION,51.389623,-0.276683,True,True,True,True
1159890,READING FORCE,51.411005,-0.283305,True,True,False,False
1174638,LOTUSMIND TEMPLE,51.369390,-0.296484,True,True,False,False
1171436,MILAAP MULTICULTURAL DAY CENTRE,51.366816,-0.311787,True,True,True,True
1141107,ENVIRONMENT MATTERS 247,51.398373,-0.253022,True,True,False,False
1153476,LONDON ANTIOCH CHURCH,51.384328,-0.253126,True,True,False,False
1157167,THE GEORGE PANTZIARKA TP53 TRUST,51.400144,-0.304436,True,True,False,False
299949,2ND NORBITON SCOUT GROUP,51.408659,-0.283933,True,True,True,True
1171759,BEAUTIFUL CHURCH LONDON,51.402612,-0.256887,True,True,True,True
1102302,RAKAT,51.403264,-0.271771,True,True,True,True
1160459,KING'S CHURCH KINGSTON,51.402432,-0.307155,True,True,True,True
800357,TIFFIN SCHOOL PARENTS ASSOCIATION,51.411770,-0.295623,True,True,True,True
1147802,PELVIC RADIATION DISEASE ASSOCIATION,51.410067,-0.285549,True,True,False,False
1153633,MAN & BOY,51.409206,-0.304877,True,True,False,False
1150565,BURATHA TRUST,51.408873,-0.284414,True,True,True,True
1057999,ST MARY'S CHURCH OF ENGLAND PRIMARY SCHOOL PAR...,51.359053,-0.298634,True,True,True,True
240062,OVERSEAS MEETING ROOMS TRUST,51.369386,-0.290545,True,True,False,False
1167618,BETHEL CHURCH OF LONDON,51.399541,-0.255939,True,True,True,True
240542,MALDEN AND CUDDINGTON JUBILEE CLUB AND INSTITUTE,51.381774,-0.250694,True,True,True,True
273467,TIFFINIAN LIMITED,51.411770,-0.295623,True,True,True,True
1166113,CASTLE HILL CHESSINGTON PTA,51.365376,-0.296728,True,True,True,True

In [193]:
pd.DataFrame(configs)

,all,exclude_sch_uni,exclude_national,exclude_sch_uni_and_national
reg_number,,,,
1142035,True,True,True,True
1130950,True,True,False,False
1127374,True,True,True,True
1029508,True,True,True,True
273592,True,True,True,True
1178151,True,True,False,False
303125,True,True,True,True
1026216,True,True,True,True
1163018,True,True,False,False
803042,True,True,False,False
1138499,True,True,True,True
1134802,True,True,True,True
1147039,True,True,False,False
312006,True,True,True,True
1040958,True,True,True,True
1027221,True,True,True,True
1184758,True,True,True,True
1148448,True,True,False,False
1152720,True,True,True,True
1157900,True,True,True,True
1048454,True,True,False,False
802456,True,True,True,True
1125708,True,True,True,True
1157559,True,True,True,True
1003243,True,True,False,False
1179883,True,True,False,False
1165522,True,True,True,True
272691,True,True,True,True
312997,True,True,True,True
1105955,True,True,False,False
...,...,...,...,...
1128446,True,True,True,True
1131120,True,True,False,False
327049,True,True,False,False
1026789,True,True,True,True
281836,True,True,False,False
1159890,True,True,False,False
311968,True,True,True,True
1054542,True,True,True,True
1147299,True,True,True,True
1174638,True,True,False,False
1171436,True,True,True,True
1102302,True,True,True,True
1141107,True,True,False,False
1153476,True,True,False,False
1157167,True,True,False,False
1160459,True,True,True,True
299949,True,True,True,True
1153633,True,True,False,False
1171759,True,True,True,True
1147802,True,True,False,False
1150565,True,True,True,True
240062,True,True,False,False
1057999,True,True,True,True
1167618,True,True,True,True
800357,True,True,True,True
312019,True,True,True,True
240542,True,True,True,True
273467,True,True,True,True
1110299,True,True,False,False
1166113,True,True,True,True